h1 {
    color: rgb(40, 202, 62);
    text-align: center;
}
p1 {
  color: rgb(40, 202, 62);
  text-align: left;
} 
body {
  background-color: greenyellow;
  background-image: url("blisslands.png");
  background-repeat: no-repeat;
  background-size: 600px 400px;
  background-position: center;
  background-attachment: fixed;
}

  